body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu-container {

}

.menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: right 0.3s;
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

#open-menu {
  background-color: #1193a9;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  position:fixed;
  right:0;
  top:0;
}

#close-menu {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  position:relative;
  z-index:1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
